/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    justify-content: center;
    
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 40px;
    font-family: "Hind Madurai", Arial, Helvetica, sans-serif;


}

/*default styles for whole page*/
body {
    background-color: #ffffff;
}

/* content container to centre content */
.container {
    max-width: 960px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 50px;
    max-width: 960px;
    margin: 0 auto; 
}





/* Default styling for Headings */
h1,h2,h3,h4,h5,h6 {
    font-family: "Charis SIL", Georgia, 'Times New Roman', Times, serif;
    line-height: 1.1;
    font-weight: 100;
}

/*specific styles*/
h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #ffffff;
    text-align: center;
   

}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    align-items: center;
}

/* Paragraphs */
p {
    font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.3rem;
    margin-bottom:3rem;
    font-style: normal;
  
}




ul {
    list-style: disc outside;
    margin-bottom: 1.8rem;
    margin-left: 1.25rem;
}

ul li {
    font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: .5rem;
}

/* hyperlinks */
a {
    font-family:inherit;
    font-size:inherit;
    line-height: inherit;
    color: #0a91ff;
   
}

a:hover {
    color:#0771c7;
}
   

/* images*/
img{
    max-width: 960px;
    width:100%;
    height:auto;
    margin-bottom: 3rem;
}

/* Background image */
.bgimg {
    background-image: url(images/Bruno.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/*figure*/
figure.contents {
    border-left: 8px solid #CF2F1B;
    padding:1.5rem 0 1.5rem 2rem;
    margin-bottom: 2rem;

}

/*blockquote*/
figure.quote {
    border-left: 8px solid #CF2F1B;
    padding:1.5rem 0 1.5rem 2rem;
    margin-bottom: 2rem;
}

figure.quote p{
    margin-bottom:0;
    font-style: italic;
}

figure.quote blockquote {
    margin-bottom:.5rem;
}

figure.quote figcaption p{
    font-weight:700;
}



footer {
    padding: 1.5rem 0 1.5rem 0;
    margin-top:2rem;
    border-top:1px solid #202221;
   
}

main{
    margin-bottom: 2.5rem;
}





.highlight {
    padding:0.01rem;
    background: linear-gradient(to left, #CF2F1B, #CF2F1B) 0 55% / 100% 90px no-repeat;
}

/* Responsive media queries */

@media only screen and (max-width:1024pxpx) {
    .container {
        margin: 0 24px;
    }

     /*display navigation on desktop */

     nav {
        display: flex;
    }

    nav.active {
        display: flex;
    }

}

 /* Responsive Screen Tablet */
@media only screen and (max-width: 768px) {
    .grid {
        flex-direction: column;
    }
}

/* Responsive Screen Mobile */
@media only screen and (max-width: 600px) {
    .container {
        margin: 0 16px;
    }
    h1{
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
    h2{
        font-size: 1.9rem;
    }
    h3{
        font-size: 1.6rem;
    }
   
    p{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    ul {
        margin-bottom: 1rem;
    }

    ul li {
        font-size: 1rem;
        margin-bottom: .5rem;
    }


    .highlight {
        padding:0.01rem;
        background: linear-gradient(to left, #CF2F1B, #CF2F1B) 0 55% / 100% 40px no-repeat;
    }

    nav a {
       
        margin-left: 15px;
    }
}






/* Back to top button  */
.top-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; 
}

/* Style for the button */
.top-btn {
    text-align: center;
    text-decoration: none;
    background-color: #CF2F1B; 
    color: white; 
    padding: 10px 20px; 
    display: inline-block; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    border-radius: 5px; 
}

.top-btn a {
    text-decoration: none;
    color: white; 
}

.top-btn a p {
    margin: 0;
}

/* Hover effect */
.top-btn:hover {
    background-color: #9c200f;
    transform: scale(1.05); 
    cursor: pointer; 
}

